{% extends 'base.html' %}
{% load static %}
{%  block content %}

{% for obj in qs %}

<div class="col-12 col-sm-6 col-lg-4">
    <div class="single-product-area mb-50">
      <!-- Product Thumbnail -->
      <div class="product-thumbnail">
        <img src="" alt="">
        <!-- Product Meta Data -->
        <div class="product-meta-data">
          <a href="#" data-toggle="tooltip" data-placement="top" title="Favourite"><i class="icon_heart_alt"></i></a>
          <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon_cart_alt"></i></a>
          <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
        </div>
      </div>
      <!-- Product Description -->
      <div class="product-desc text-center pt-4">
        <a href="#" class="product-title">{{obj.title}}</a>
        <h6 class="price">{{obj.price}}</h6>
      </div>
    </div>
  </div>

{% endfor %}

{% endblock %}