{% extends 'base.html' %}
{% load static %}
{%  block content %}



          <!-- Search Form -->
          <div class="search-form">
            <form action="#" method="get">
              <input type="search" name="search" id="search" placeholder="Type keywords &amp; press enter...">
              <button type="submit" class="d-none"></button>
            </form>
            <!-- Close Icon -->
            <div class="closeIcon"><i class="fa fa-times" aria-hidden="true"></i></div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- ##### Header Area End ##### -->

  <!-- ##### Breadcrumb Area Start ##### -->
  <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url({% static 'img/bg-img/18.jpg'%});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <div class="breadcrumb-text">
            <h2>News Details</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="famie-breadcrumb">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">News Details</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- ##### Breadcrumb Area End ##### -->

  <!-- ##### News Details Area Start ##### -->
  <section class="news-details-area section-padding-0-100">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- News Details Content -->
          <div class="news-details-content">
            <h6>Post on <a href="#" class="post-date">18 Aug 2018</a> / <a href="#" class="post-author">Peter Crough</a></h6>
            <h2 class="post-title">Rising cattle supplies see beef export lifted</h2>

            <p>Nunc aliquet, justo non commodo conguet, velici semi paluvinar denim, action bibendum purus selecao samuel eget libero. Maecenas ac viverra , sheta laoreet lacus. Etiam nisi diam, sagittis quam at mattis quam lorem, euismod dictum
              ante ornare eget. Nulla viverra suscipit sem deet suscipit. Suspendisse suscipit
              vulputate quis lacus non consectetur. Vestibulum odio nunc, lobortis vitae elit sed, sodales mollis urna. Curabitur trununc et nunc cursus, ustava vehicula ipsum molestie. Donec mattis mi et arcu ullamcorper blandit. Ut quis sagittis,
              interdum libero ut, elementum nunc. Integer placerat sapien sedoni ligula
              placerat laoreet. Aliquam sit amet varius arcu. Vivamus condimentum metus quis est finibus feugiat.</p>

            <div class="row">
              <div class="col-lg-4">
                <p>Proin accumsan laoreet donald, a pretiumas dolor congue facilisis. Morbi eget convallis nisi. Sedoni blandit neque eu leo fringilla semper. Donec sed arcu ut arcu sagittis ornare acdat ipsum. Fusces
                  ut phareto augue, in placerat arcu. Utat erat sit mauris et turpis non dictum eleifend elit.</p>
                <p>Etiam faucibus vestibulum orci at euismod. Sedo sollicitudin justo esteran nibh egestas maximus. Nullam rutrum dolor velit, act accumsan denim commodo non.</p>
              </div>
              <div class="col-lg-8">
                <img class="w-100 mb-30" src="{% static 'img/bg-img/37.jpg'%}" alt="">
              </div>
            </div>
            <p>Morbi eget convallis nisi. Sed blandit neque eu leo
              fringilla semper. Donec sedan arcu utarcu sagittis
              ornare ac at ipsum. Fusce ut pharetra auguet, int
              placerat arcu. Ut at erat sit amet ligulan pharetra
              scelerisque nec et justo. Mauris etsa turpis nonta
              Maecenas imperdiet pulvinar magna, vel feugiat</p>

            <!-- Famie Blockquote -->
            <blockquote class="famie-blockquote d-flex">
              <div class="quote-icon pt-2">
                <img src="{% static 'img/core-img/quote.png'%}" alt="">
              </div>
              <div class="quote-text">
                <h5>"Browsing our local farmer's market is one of my family's favorite weekend activities. Make it a relaxing, healthful habit for your family, and you'll reap the nutritional rewards."</h5>
                <span>Suzanne Somers</span>
              </div>
            </blockquote>

            <p>Morbi ante diam, molestie at ligula at, placerat vehicula nulla. Etiam id laoreet eros. Proin rhoncus luctus vehicula. Donec et magna in urna faucibus porttitor et at nibh. Donec lobortis odio odio, eu mattis risus suscipit vitae. Sed
              quis justo action dui tristique vulputate. Sed accumsan leo tincidunt, volutpat massa sed, pharetra est. Praesent aliquet ut massa vestibulum maximus. Aenean orci eros, commodo volutpat ipsum in, laoreet lobortis lacus. Nulla tristique
              vestibul tortor id venenatis. Suspendisse varius molestie ligula in pulvinar. Nunc imperdiet nisl eu efficitur tincidunt.</p>
            <p>Nunc feugiat ultrices metus. Duis dapibus lacus vulputate, sodales justo molestie, luctus est. Suspendisse ultricies, tellus at consectetur imperdiet, ipsum felis pulvinar quam, id pharetra elit lectus eleifend tortor. Etiam tellus
              arcu, malesuda sit amet ipsum sed, pretium eleifend lacus. Curabitur ultrice leo purus, nec bibendum est ultrices vel nullam posuere diam ornare.</p>

            <!-- Share & Tags -->
            <div class="share-tags d-flex flex-wrap align-items-center justify-content-between">
              <!-- Share -->
              <div class="share-post d-flex align-items-center">
                <span>Share This post:</span>
                <!-- Share Icons -->
                <div class="share-icons">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-pinterest"></i></a>
                </div>
              </div>
              <!-- Tags -->
              <ul class="famie-tags">
                <li><a href="#">All product</a></li>
                <li><a href="#">Freshy Fruit</a></li>
                <li><a href="#">Sweet Corn</a></li>
              </ul>
            </div>
          </div>

          <!-- Post Author -->
          <div class="post-author-area d-flex align-items-center">
            <div class="post-author-img">
              <img src="{% static 'img/bg-img/38.jpg'%}" alt="">
            </div>
            <div class="post-author-description">
              <a href="#">
                <h5>Peter Crough</h5>
              </a>
              <p>Duis tincidunt turpis sodales, tincidunt nisi et, auctor nisigama. Curabitur vulputate sapien espanyol metusi ultricies fermentum necvelpa.
                Maecenas eget lacinia est molestie ligula, et euismod auctor. </p>
            </div>
          </div>

          <!-- Comment Area Start -->
          <div class="comment_area clearfix mb-50">

            <!-- Title -->
            <h3 class="mb-50">3 Comments</h3>

            <ul>
              <!-- Single Comment Area -->
              <li class="single_comment_area">
                <!-- Comment Content -->
                <div class="comment-content d-flex">
                  <!-- Comment Author -->
                  <div class="comment-author">
                    <img src="{% static 'img/bg-img/31.jpg'%}" alt="author">
                  </div>
                  <!-- Comment Meta -->
                  <div class="comment-meta">
                    <a href="#" class="comment-date">27 Aug 2019</a>
                    <h6>Diego Simeone</h6>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sitdown ameto, consectetur, adipisci velit, sed quiata non numqua eius modi tempor incidunt ut labore et dolore magnam, semper quis mollis id, ullamcorper ut diam.</p>
                    <a href="#" class="reply">Reply</a>
                  </div>
                </div>

                <ol class="children">
                  <li class="single_comment_area">
                    <!-- Comment Content -->
                    <div class="comment-content d-flex">
                      <!-- Comment Author -->
                      <div class="comment-author">
                        <img src="{% static 'img/bg-img/32.jpg'%}" alt="author">
                      </div>
                      <!-- Comment Meta -->
                      <div class="comment-meta">
                        <a href="#" class="comment-date">27 Aug 2019</a>
                        <h6>Susie Martha</h6>
                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sitdown ameto, consectetur, adipisci velit, sed quiata non numqua eius modi tempor incidunt ut labore et dolore magnam, semper quis mollis id, ullamcorper ut diam.</p>
                        <a href="#" class="reply">Reply</a>
                      </div>
                    </div>
                  </li>
                </ol>
              </li>

              <!-- Single Comment Area -->
              <li class="single_comment_area">
                <!-- Comment Content -->
                <div class="comment-content d-flex">
                  <!-- Comment Author -->
                  <div class="comment-author">
                    <img src="{% static 'img/bg-img/33.jpg'%}" alt="author">
                  </div>
                  <!-- Comment Meta -->
                  <div class="comment-meta">
                    <a href="#" class="comment-date">27 Aug 2019</a>
                    <h6>Jonny Evans</h6>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sitdown ameto, consectetur, adipisci velit, sed quiata non numqua eius modi tempor incidunt ut labore et dolore magnam, semper quis mollis id, ullamcorper ut diam.</p>
                    <a href="#" class="reply">Reply</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <!-- Post A Comment Area -->
          <div class="post-a-comment-area">

            <!-- Title -->
            <h3 class="mb-50">Leave A Reply</h3>

            <!-- Reply Form -->
            <div class="contact-form-area">
              <form action="#" method="post">
                <div class="row">
                  <div class="col-12 col-lg-6">
                    <input type="text" class="form-control" id="name" placeholder="Your Name*">
                  </div>
                  <div class="col-12 col-lg-6">
                    <input type="email" class="form-control" id="email" placeholder="Your Email*">
                  </div>
                  <div class="col-12">
                    <textarea name="message" class="form-control" id="message" placeholder="Message*"></textarea>
                  </div>
                  <div class="col-12">
                    <button class="btn famie-btn mt-30" type="submit">Submit Comment</button>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- ##### News Details Area End ##### -->

  <!-- ##### Footer Area Start ##### -->


  {% endblock %}